@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Fira+Sans:wght@500&display=swap');

:root {
  --bg: #FEFFE4;
  --accent: #CDE87F;
  --action: #5F7E05;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding:  2rem 1rem;
  box-sizing: border-box;
  font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  gap: 1rem;
  background-color: var(--bg);
  color: var(--action);
}

@media (min-height: 30rem) {
  body {
    display: grid;
    place-content: center;
  }
}

a {
  color: rgb(0,100,200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0,80,160);
}

label {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
